<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css" />
    <title>Document</title>
</head>
<body>
    <nav>
      <h1 id="nav-header">EventApp</h1>
        <% if(user) { %>
          <div class="navbar"></div>
            <div class="nav-links">
              <a class="authlink" href="/users/<%= user._id %>/events">Events</a>
              <a class="authlink" href="/auth/sign-out">Sign Out</a>
            </div>
          </div>
          <% } else { %>
            <div class="navbar">
              <div class="nav-links">
                <a class="authlink" href="/auth/sign-in">Sign In</a>
                <a class="authlink" href="/auth/sign-up">Sign Up</a>
              </div>
            </div>
          <% } %>
      </nav>
</body>
</html>